@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    min-height: 100vh;
    background-color: rgb(24, 24, 24);
}

header{
    background-color: #0c0c0c;
    padding: 40px;
    text-align: center;
}

header h1{
    font-family: 'Passion One';
    font-size: 10vw;
    font-variant: small-caps;
    color: #f7f7f7;

}

header p{
    font-size: 1.1em;
    color: #f7f7f7;

    text-align: center;
}

a{
    color: #f7f7f7;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

section{
    background-color: #f7f7f7;
    padding: 5vh 40px 10vh 40px;
    font-size: 3.5vw;
    line-height: 2em;
}
section > p{
    font-family: 'Sriracha', cursive;
    margin-top: 5vh;
}

#bkg01{
    background-image: url('images/background001.jpg');
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}

section.img > p{
    background-color: rgba(0, 0, 0, 0.493);
    padding: 5px;
    color: white;
    text-shadow: 1px 1px black;
    display: inline-block;
}

#bkg02{
    background-image: url('images/background002.jpg');
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

footer{
    padding: 10px;
    color: #f7f7f7;
    background-color: #0c0c0c;
    text-align: center;
}